<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="./images/weather.png">
    </link>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is a help page, you can contact me at tusharrguliany@gmail.com</p>
        <p>This was built with the help of Udemy NodeJS course by Andrew Mead.</p>
    </div>
    {{>footer}}
</body>

</html>